body{
    background-color: #ff69b4;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#text{ 
    color: #8a2be2;
}
#naam{
    color: #00ff00;
    float: left;
    width: 604px;
    height: 56px;
}

.highlight{
    color: #00ffff;
    float: left;
}

#TextContainer {
    width: 400px;
    float: left;
}

#IntroPicture{
    float: left;
    width: 295px;
    height: 389px;
}
        
.reset{
    clear: both;
}

#HobbyContainer{
    float: left;
}