body{
    background-color: #ff69b4;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

    

#IntroPicture{
    float: left;
    width: 295px;
    height: 389px;
}
#text{ 
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#naam{
    color: #00ff00;
    display: flex;
    padding: 15px 136px 16px 0px;
    align-items: center;
    width: 604px;
    height: 56px;
    flex-shrink: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.highlight{
    color: #00ffff;
    float: left;
}

#TextContainer {
    display: flex;
    width: 740px;
    height: 87px;
    padding: 15px 136px 16px 0px;
    align-items: center;
}


        
.reset{
    clear: both;
}

#HobbyContainer{
    float: left;
    width: 268px;
    height: 109px;
    flex-shrink: 0;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#socialscontainer{
    float: left;
    width: 288px;
    height: 130px;
    flex-shrink: 0;
    background: #D9D9D9;
}
#maincontainer{
    width: 1050;
}
#background{
    margin: auto;
}